extends menulayout
block content2                         
            .recuadro-principal.recuadro-grande-subprincipal#cargaprincipal
                    .formhead
                        h1 Nuevo Producto
                        form.formularioVolver(action="/productos#cargaprincipal" method="get")
                            button.button#Volver(type="submit") Volver 
                    .product-container
                            table.product
                                form(action="/addproduct" method="post", enctype="multipart/form-data")
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Nombre:
                                        td.product-info 
                                            input.input(type="text",name="product_name", placeholder="Nombre del producto")
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Cantidad:
                                        td.product-info 
                                            input.input(type="number",name="product_quantity", placeholder="Cantidad del producto")
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Precio:
                                        td.product-info 
                                            input.input(type="number",name="product_price", placeholder="Costo del producto")         
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Catetoria:
                                        td.product-info
                                            select.input(name='product_category')
                                                option(value='Bebidas') Bebidas
                                                option(value='Alimentos') Alimentos
                                                option(value='Videojuegos') Videojuegos
                                                option(value='Servicios') Servicios
                                                option(value='Papeleria') Papeleria
                                                option(value='Otros') Otros
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Descripcion:
                                        td.product-info 
                                            textarea(name="product_description", cols="30", rows="10", placeholder="Descripcion")
                                    tr.trproduct
                                        td.product-caracteristic
                                            p Imagen:                                          
                                        td.product-info
                                            label(for="file-upload" class="custom-file-upload")
                                                i.fa.fa-cloud-upload
                                                | Subir Imagen
                                            input#file-upload(type="file" name="imageUpload" style="display: none;")
                                    tr.trproduct        
                                        td.product-info   
                                        td.product-info           
                                            button.button#producto_agregar(type="submit") Agregar producto       
