extends layout
block content
        .contenedor
                .recuadro.recuadro-delgado
                        h3 Menú
                        p Contenido del recuadro delgado.
                .recuadro.recuadro-grande
                        h2 Título
                        p Este es un ejemplo de un recuadro blanco sobre un fondo de color.