extends layout
block content
        .recuadro
                .container.mt-5
                        .row
                                .col-md-6
                                h2 Contáctanos
                                form#contactForm
                                        .mb-3
                                        label(for="name") Nombre
                                        input#name.form-control(type="text", placeholder="Tu nombre")
                                        .mb-3
                                        label(for="email") Email
                                        input#email.form-control(type="email", placeholder="Tu email")
                                        .mb-3
                                        label(for="message") Mensaje
                                        textarea#message.form-control(rows="3")
                                        button.btn.btn-primary(type="submit") Enviar Mensaje