extends layout

block content
    .formcontenedor
            form.formulario-busqueda
                input.input-busqueda(type="search" placeholder="Search..." aria-label="Search")
                input.boton-busqueda(type="submit" value="Buscar")
    .contenedor
        h1 Hola
                    