extends layout
.main-container{
     background-color: white; /* Fondo blanco para el recuadro */
            width: 300px; /* Ancho del recuadro */
            margin: 20px auto; /* Centrar el recuadro */
            padding: 20px; /* Espaciado interno */
            border-radius: 10px; /* Bordes redondeados */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}