extends layout
block content
    .contenedor
            .recuadro-principal.recuadro-delgado-principal
                h3 Menú
                    a(href='/principal#cargaprincipal')
                        .post-container#menu
                            .author-info
                                img.author-photo#icono(src='/img/home.png', alt="Foto del autor")
                                .menu-name Home
                    a(href='/productos#cargaprincipal')
                        .post-container#menu
                            .author-info
                                img.author-photo#icono(src='/img/productos.png', alt="Foto del autor")
                                .menu-name Mis productos
                    a(href='/ventas')
                        .post-container#menu
                            .author-info
                                img.author-photo#icono(src='/img/ventas.png', alt="Foto del autor")
                                .menu-name Mis Ventas
                    a(href='/messages/0#cargaprincipal')
                        .post-container#menu
                            .author-info
                                img.author-photo#icono(src='/img/chat.png', alt="Foto del autor")
                                .menu-name Mensajes
                    a(href='/mispost#cargaprincipal')    
                        .post-container#menu
                            .author-info     
                                img.author-photo#icono(src='/img/mispost.png', alt="chat")                                                                          
                                .menu-name Mis posts
                    a(href='/')    
                        .post-container#menu
                            .author-info     
                                img.author-photo#icono(src='/img/config.png', alt="chat")                                                                          
                                .menu-name Configuracion de cuenta                                
                    a(href='/logout')    
                        .post-container#menu
                            .author-info     
                                img.author-photo#icono(src='/img/logout.png', alt="chat")                                                                          
                                .menu-name Cerrar sesion                 
            block content2                           