extends menulayout
block content2                                   
            .recuadro-principal.recuadro-grande-subprincipal#cargaprincipal
                .mesages-container
                    .messages-contact-list
                        h3 Lista de Contactos
                            each contact in contacts
                                a.contact-container(href="/messages/" + contact.user_credential_number + "#cargaprincipal")
                                    img(src='/imagen/' + contact.user_credential_number + '.jpg')
                                    p=contact.user_name + " " + contact.user_lastname                                                                                             
                    if userchat != 0
                        script(src="/socket.io/socket.io.js")
                        script(src="/js/chat.js")  
                        .messages-content
                            .messages-header
                                img.contact-photo#icono(src='/imagen/' + userchat + '.jpg')
                                h5.contact-name=contactDetails.user_name + " " + contactDetails.user_lastname
                                input(id="user_id" hidden value=userid)
                                input(id="user_contact" hidden value=userchat)
                            .messages-message#messageContainer
                            .message-newmessage
                                .formcontenedor
                                    form.formulario-newmesage#message-form(method="post", action="/buscar")
                                        textarea.input-busqueda(type="search" id="message" placeholder="Mensaje..." aria-label="Search")
                                        input.boton-busqueda(type="submit" value="Enviar")
                    else
                        .messages-content
