extends layout
block content
    .recuadro
      .center-div
        .profile
                img(src='/imagen/' + img_route, alt="Avatar del Comprador", style="max-width: 100px; border-radius: 50%;")
                h3 Nombre de usuario: Comprador123
                p Correo institucional: comprador@example.com
                p Estatus: Activo
                p Productos comprados recientemente:
                  ul
                    li Producto A
                    li Producto B
                    li Producto C
                p Productos vendidos:
                  ul
                    li Producto X
                    li Producto Y
                    li Producto Z