extends menulayout
block content2                         
            .recuadro-principal.recuadro-grande-principal#cargaprincipal
                .post-container#New_post
                    form.formularioPublicar(action="/publicar" method="post" enctype="multipart/form-data")
                        .author-info#New_post  
                            img.author-photo(src='/imagen/' + img_route, alt="Foto del autor")   
                            textarea(name="postContent", cols="30", rows="10", placeholder="Nueva publicacion")
                        .newpost_buttons         
                            label(for="file-upload" class="custom-file-upload")
                                i.fa.fa-cloud-upload
                                | Subir Imagen
                            input#file-upload(type="file" name="imageUpload" style="display: none;")
                            input#publicar(type="submit" value="Publicar")               
                each post in posts
                    .post-container
                        a.author-info(href="/perfil/" + post.post_author)
                            img.author-photo(src='/imagen/' + post.post_author + '.jpg', alt="Foto del autor")
                            .post-info
                                .author-name #{post.autor + " " + post.autor_lastname}
                                .post-date #{post.post_date}
                        .post-description #{post.post_description}
                        if post.post_img != 'NULL'
                            .post-content
                                    img.post-image(src='/img_posts/' + post.post_img, alt="Imagen de la publicación", )
            .recuadro-principal.recuadro-delgado-principal#menu
                h3 Perfiles Visitados
                each recent_profile in recent_profiles
                    a(href='/')
                        .post-container#recent_visited
                            .author-info
                                img.author-photo(src='/imagen/' + recent_profile.profilePhoto, alt="Foto del autor")
                                .author-name #{recent_profile.profilename}