extends layout
block content
    div.login
        h1 Crear una cuenta
            form(action="signup", method="post", enctype="multipart/form-data")
                input.input(type="text" name="name" placeholder="Nombre" required="required")
                input.input(type="text" name="lastname" placeholder="Apellidos" required="required")
                input.input(type="text" name="credential_number" placeholder="Numero de boleta" required="required")
                input.input(type="password" name="password" placeholder="Contrase単a" required="required")
                input.input(type="date" name="date" placeholder="Contrase単a" required="required")
                input.input(type="file" name="file" placeholder="Contrase単a" required="required")
                label.la(for="opciones") 
                    p.msgs Elige una opcion
                select.custom-combobox(id="opciones" name="gender")
                    option(value="H") Hombre
                    option(value="M") Mujer
                button(type="submit" class="btn btn-primary btn-block btn-large") Registrarse
                if error_msg.length > 0
                    .error
                        each err in error_msg
                            p= err
                p.msgs 多Ya tienes una cuenta? 
                    a.msgf(href="/login") Inicia sesion            
                            