@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.btn {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
}

.btn:hover {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6; /* Cambio en color de fondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ejemplo de cambio en la sombra */
}

.btn-primary, .btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
}

.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    background-color: #4a77d4;
    background-image: linear-gradient(to bottom, #6eb6de, #4a77d4);
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #4a77d4;
}

.btn-block {
    width: 100%;
    display: block;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
}
.content {
    flex: 1;
    /* Asegúrate de que el contenido principal ocupe el espacio disponible */
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(135deg, #670d10 0%, #092756 100%), 
                radial-gradient(ellipse at bottom, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%);
    background-repeat: no-repeat; /* Esto evita que el fondo se repita */
    background-attachment: fixed; /* Esto puede ayudar a que el gradiente se mantenga fijo al hacer scroll */
    background-size: cover; /* Esto hace que el gradiente cubra todo el espacio disponible */            
}
.main-content {
    margin-top: 1%;
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    text-align: center; /* Alinea el texto de los elementos internos */
}
form {
    margin: auto; /* Centra el formulario horizontalmente */
    width: 25rem; /* Ancho fijo para el formulario */
    padding: 20px; /* Espaciado interno */
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

.input{
    font-size: 13px;
}
input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 130px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.5s ease;
}
input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}
.error {
    margin-top: 10px;
    color: white;
    font-size: 12px;
}

.msgs{
    margin-top: 10px;
    color: white;
    font-size: 12px;
}
#neubar {
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
  }
  
  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #8c3d62, #8c3d62);
    box-shadow:  4px 4px 8px #670d10,
                 -4px -4px 8px #670d10;
  }
  #neubar .nav-item {
    margin : auto 30px;
  }
  #neubar a {
    font-size: 25px;
    color: white;
    padding-left:12px;
    padding-right:12px;
  }
  #neubar a:hover {
    font-size: 25px;
    color: black;
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : #545454
  }
  a.navbar-brand {
    color: #454545;
    align-items: center;
    margin: 2px;
  }
  a.navbar-brand img{
    color: #454545;
    align-items: center;
    margin-left: 25%;
  }
#menuImage:hover{
    border: solid 2px black;
}
  /* Estilo para el combobox */
select.custom-combobox {
    font-size: 13px;
    color: white;
    background-image: linear-gradient(to bottom, #6eb6de, #4a77d4);
    border: 1px solid #3762bc;
    border-radius: 0.5em;
    padding: .1rem;
    margin: 5%;
    -webkit-appearance: none; /* Remueve la apariencia por defecto en Safari */
    -moz-appearance: none; /* Remueve la apariencia por defecto en Firefox */
    appearance: none;
    /* Agrega un ícono de flecha personalizado si es necesario */
}

/* Cambia la apariencia del combobox cuando se pasa el mouse sobre él */
select.custom-combobox:hover {
    background-color: #8c3d62; /* Cambia al color final del gradiente */
    background-image: linear-gradient(to bottom, #670d10, #8c3d62);
    border: 1px solid #670d10;
    color: black;
}
.formcontenedor {
    margin-top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.formulario-busqueda {
    display: flex;
    gap: 10px;
    padding: 20px;
    background-color: linear-gradient(to bottom, #670d10, #8c3d62);

    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.input-busqueda {
    font-size: 15px;
    flex-grow: 1; /* Hace que solo el input crezca */
    background-color: black;
    color: white;
}

.boton-busqueda {
    background-color: black;
    width: 30%;
}
.boton-busqueda:hover{
    background-color: white;
    padding-top: 3px;
    color: #000000;
}

/* Cambia la apariencia del combobox cuando está enfocado */
select.custom-combobox:focus {
    outline: none;
    border: 1px solid #9c1f63; /* Puedes cambiar este color para mejorar la visibilidad */
    box-shadow: 0 0 5px 0 #9c1f63; /* Color de sombra para el foco */
}
.contenedor {
    display: flex; /* Usa Flexbox dentro del contenedor */
    height: 100%;
}


.recuadro {
    background-color: #EAD7D7; /* Fondo blanco para los recuadros */
    margin: 20px; /* Margen alrededor de los recuadros */
    padding-top: 1px; /* Espaciado interno */
    padding-bottom: 5%; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    height: auto;
}

.recuadro-grande {
    width: 50%; /* Ancho del recuadro grande */
}

.recuadro-delgado {
    width: 25%; /* Ancho del recuadro delgado */
}
.menulateral{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    color: white;
}
.menulateral ul{
    text-align: center;
}
.menulateral p{
    background-color: black; /* Color de fondo de cada elemento de la lista */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 10px; /* Espaciado interno para cada elemento de la lista */
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
    /* Otras propiedades de estilo que desees agregar */
}
h2 {
    color: #007bff;
}

form#contactForm {
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 4px;
}

button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.footer {
    margin-top: 5%;
    background-color: #000000;
    color: white;
    padding: 20px 0;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h5 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p, .footer-section a {
    color: #bbb;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
    text-decoration: underline;
}

.copy-right {
    border-top: 1px solid #444;
    padding-top: 15px;
    margin-top: 15px;
    text-align: center;
}

.copy-right p {
    margin: 0;
    font-size: 14px;
}
.recuadro-principal {
    background-color: #EAD7D7; /* Fondo blanco para los recuadros */
    margin: 20px; /* Margen alrededor de los recuadros */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    padding: 1%;
}

.recuadro-grande-principal {
    min-height: 75%;
    width: 50%; /* Ancho del recuadro grande */
    height: auto;
}
.recuadro-grande-subprincipal{
    min-height: 75%;
    width: 75%; /* Ancho del recuadro grande */
    height: auto;
}
.recuadro-delgado-principal {
    height: auto;
    width: 25%; /* Ancho del recuadro delgado */
    color: #000000;
    max-height: 50rem;
}
.recuadro-derecho-delgado-principal {
    height: auto;
    width: 18%; /* Ancho del recuadro delgado */
    color: #000000;
    max-height: 50rem;
}
.recuadro-delgado-principal a{
    text-decoration: none;
}
.recuadro-delgado-principal a:visited{
    color: #000000;
}
.recuadro-grande-principal#buscador{
    width: 50%;
    margin-left:25%;
}
.post-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}
.author-name a{
    color: black;
}
.author-name p{
    color: black;
}
.linkmenu a{
    color: #000;
}
a .menu-name {
    color: #000;
}
a:hover .menu-name{
    color: #fff;
}
.linkmenu a:visited{
    color: #000;
}
.author-photo {
    width: 3rem; /* o el tamaño que prefieras */
    height: 3rem; /* igual al ancho para mantener la proporción */
    border-radius: 50%; /* para hacerla circular */
    object-fit: cover; /* asegura que la imagen cubra completamente el área sin distorsionarse */
    margin-right: 10px;
}
.author-info#buscador{
    display: flex;
    justify-content: space-between; /* Esto separará los elementos igualmente */
    align-items: center; 
    text-align: center;
}
.author-name {
    font-weight: bold;
}

.post-content {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    /* Asegúrate de que el contenedor tenga un tamaño definido o sea suficientemente grande */
    min-height: 200px; /* Ejemplo de altura mínima, ajusta según tus necesidades */
}

.post-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.post-description {
    text-align: justify;
    overflow-wrap: break-word;
    align-items: center;
}
.boton-menu-lateral{
    font-size: 15px;
    flex-grow: 1; /* Hace que solo el input crezca */
    background-color: black;
    color: white;
}
.boton-menu-lateral:hover{
    background-color: white;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #000000;
}
.post-container#recent_visited:hover{
    background-color: black;
    color: white;
}
.profile {
    margin: 0;
}

.center-div {
    padding: 10px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Utilizar el alto de la ventana del navegador */
}
.author-name{
    margin-right: 8%;
}
.author-description{
    margin-left: 8%;
    margin-right: 8%;
}
.user-status {
    display: flex;
    background-color: rgba(4, 111, 205, 0.8); /* Fondo semitransparente para el texto */
    padding: 4px 8px; /* Espacio alrededor del texto */
    border-radius: 8px; /* Bordes redondeados */
    justify-content: center;
    margin: 2%;
    
  }
  
  .green-circle {
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 50%;
    margin-right: 4px; /* Espacio entre el círculo y el texto */
  }
  .red-circle {
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
    margin-right: 4px; /* Espacio entre el círculo y el texto */
  }
  .gray-circle {
    width: 16px;
    height: 16px;
    background-color: gray;
    border-radius: 50%;
    margin-right: 4px; /* Espacio entre el círculo y el texto */
  }
  
  /* Estilos para el texto de estado (puedes personalizarlos según tus necesidades) */
  span {
    font-size: 12px;
    color: white; /* Color del texto */
  }
.user-status:hover{
    border: solid 2px black;
    background-color: #3762bc;
}
.author-info#New_post{
    height: 25%;
    width: 100%;
    flex-direction: row; /* Los elementos se apilan verticalmente */
    align-items: flex-start; /* Alinea los elementos al inicio horizontalmente (a la izquierda) */
}
.post-container#New_post{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post-container#New_post textarea{
    width: 100%;
    height: 10rem;
    background-color: #EAD7D7;
    color: #000000;
    resize: none;
    font-size: 25px;
    padding: 10px;
}
.contact-container{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-width: 20rem;
    max-height: 5rem;
    color: #000;
    text-decoration: none;
}
.contact-container:hover{
    background-color: black;
    color: white;
}
.contact-container img{
    width: 3rem;
    height: 3rem;
    margin-right: 0.5rem;
    border: 2px solid white; /* Borde blanco */
    box-shadow: 0px 0px 10px white; /* Sombra blanca */
    background-color: white;
    border-radius: 50%; /* para hacerla circular */
    object-fit: cover; /* asegura que la imagen cubra completamente el área sin distorsionarse */
}
.contact-container p{
    font-weight: bold;
    font-size: small;
    margin: 0;
    word-break: break-all;
    text-align: left;
}

.post-container#menu:hover{
    background-color: black;
    color: white;
}
.post-container#menu a{
    margin-top: 10px;
}
.post-container#menu:hover a{
    background-color: black;
    color: white;
}
.post-container#menu img{
    background-color: white;
}
.author-photo{
    border: 2px solid white; /* Borde blanco */
    box-shadow: 0px 0px 10px white; /* Sombra blanca */
    
}

.custom-file-upload {
    background-color: #670d10;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 5px; 
    border: none;
    font-size: 1.5rem;
}

#publicar {
    border: none;
    padding: 10px 20px;
    width: 50%;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10%;
    background-color: #670d10;
    font-size: 1.5rem;
}
#publicar:hover{
    border: none;
    padding: 10px 20px;
    width: 50%;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10%;
    background-color: #8c3d62;
}
#file-upload {
    display: flex;
    margin: 20%;
    flex-direction: row;
}
.custom-file-upload:hover{
    background-color: #8c3d62;
}
.newpost_buttons{
    justify-content: center;
    width: 75%;
    display: flex;
    margin: 2%;
    flex-direction: row;
}
.formularioPublicar{
    width: 100%;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
}
.post-info{
    display: flex;
    flex-direction: column;
}
.recuadro#perfil{
    display: flex; /* Establece Flexbox */
    justify-content: center; 
    align-content: center ; /* Centra verticalmente */
    height: 100;
    width: 50%;
    margin-left: 25%;
    padding-top: 5rem;
}
.perfillink{
    color: black;
    text-decoration: none;

}
.perfillink:hover{
    color: grey;
    text-decoration: none;
}
/* Contenedor del perfil */
.profile-container {
    width: 95%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 90%;
}


/* Información del usuario */
.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

/* Imagen de perfil */
.profile-picture {
    margin: 0;
}
.profile-picture img {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    border: 4px solid white;
    /* transform: translateY(-50%); */ /* Comenta o elimina esta línea si no es necesaria */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Detalles del usuario */
.user-details h1 {
    margin: 0;
    color: #333;
    margin-top: 5%;
}

.user-details p {
    margin: 1%;
    color: #666;
}

/* Botones de acción */
#editar_perfil{
    font-size: 1.5rem;
    margin: 5%;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #670d10;
    color: white;
    cursor: pointer;
}

#editar_perfil:hover {
    background-color: #8c3d62;
}
.perfil-options{
    display: flex;
}
/*productos*/
.product-container {
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 1%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}
.product-photo{
    width: 10rem;  /* o el ancho deseado */
    height: 10rem; /* o la altura deseada */
    max-width: 10rem;
    height: 10rem;
    object-fit: contain; 
}
.product{
    width: 80%;
}
.product p{
    margin: 0;
} 
.product-caracteristic{
    text-align: center;
    font-weight: bold;
    width: 25%;
}
.product-info{
    text-align: center;
    justify-content: center;
    max-height: 10px;
    word-break: break-all;
    overflow-y: auto;
}
.product-info p{
    max-height: 8rem;
    max-width: 20rem;
    width: 20rem;
}

.trpproduct{
    justify-content: space-around;
}
.product-info input, textarea{
    background-color: #EAD7D7;
    color: #000;
    font-size: 1rem;
    margin-bottom: 1%;
    resize: none;
    width: 100%;
}

.edit_product{
    text-align: center;
}
.button#editar_perfil{
    background-color: #0056b3;
    font-size: 1rem;
}
.button#editar_perfil:hover{
    background-color: #092756;
}
.button#producto_agregar{
    padding: 10px 15px;
    margin-top: 1%;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    background-color: #009619;
}
.button#producto_agregar:hover{
    background-color: #42b103;
}
#file-uploadproduct {
    width: 2px;
}  
.product-container#newProduct{
    width: 100%;
    display: flex;
    justify-content: center;
}
.formularioPublicar#producto_agregar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ajustar según sea necesario */
}
.product-name textarea {
    flex-grow: 1; /* Permite que los input y textarea ocupen el espacio disponible */
    margin-left: 0.5rem;
}
.formularioVolver{
    box-shadow: none;
    border-radius: 8px;
    padding: 15px;
    width: auto;
    margin: 0;

}
button#Volver{
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    font-size: 1.5rem;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: #000;
    cursor: pointer;
}
button#Volver:hover{
    background-color: #000;
    color: white;
}
.formhead{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.formhead h{
    display: flex;
    width: 100%;
    align-items: flex-start;
}

/*Mensajes*/
.mesages-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.messages-contact-list{
    border-radius: 8px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0.5rem;
    width: auto;
    height: max-content;
    max-height: 45rem;
    overflow-x: scroll;
    overflow-y: scroll;
}
.messages-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 50rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    margin: 1rem;
    padding: 1%;
    background-color: #000;
    background: linear-gradient(135deg, #670d10 0%, #092756 100%), 
                radial-gradient(ellipse at bottom, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%);
    width: 70%;
}
.messages-message{
    height: 75%;
    overflow-x: auto;
    max-height: 75%;
    border: solid 1px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los elementos */
}
.message-newmessage{
    max-width: 50;
    word-break: break-all;
}
.message-newmessage textarea{
    background-color: white;
    color: #000;
    font-size: 1.5rem;
    padding: 1%;
}       

.formulario-newmesage{
    display: flex;
    gap: 10px;
    padding: 20px;
    background-color: linear-gradient(to bottom, #670d10, #8c3d62);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.message-info p{
    justify-content: space-between;
}
.sender {
    border-radius: 5%;
    background-color: lightsalmon;
    text-align: right;
    margin-left: auto; /* Alinea a la derecha */
    word-break: break-all;
    max-width: 50%;
    padding: 1%;
}

.receiver {
    padding: 1%;
    border-radius: 5%;
    background-color: #f1f0da;
    text-align: left;
    margin-right: auto; /* Alinea a la izquierda */
    word-break: break-all;
    max-width: 50%;
}
.contact-name{
    font-weight: bold;
}
.messages-header{
    padding: 1%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: linear-gradient(135deg, #670d10 0%, #092756 100%), 
                radial-gradient(ellipse at bottom, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%);
    color: white;
}
.contact-options{
    width: auto; /* o el tamaño que prefieras */
    height: auto; /* igual al ancho para mantener la proporción */
    border-radius: 50%; /* para hacerla circular */
    object-fit: cover; /* asegura que la imagen cubra completamente el área sin distorsionarse */
    border: 2px solid white; /* Borde blanco */
    box-shadow: 0px 0px 10px white; /* Sombra blanca */
    background-color: white;
}
.contact-options a{
    width: auto; /* o el tamaño que prefieras */
    height: auto; /* igual al ancho para mantener la proporción */
}
.contact-photo#icono{
    width: 3rem; /* o el tamaño que prefieras */
    height: 3rem; /* igual al ancho para mantener la proporción */
    border-radius: 50%; /* para hacerla circular */
    object-fit: cover; /* asegura que la imagen cubra completamente el área sin distorsionarse */
    margin-right: 10px;
    border: 2px solid white; /* Borde blanco */
    box-shadow: 0px 0px 10px white; /* Sombra blanca */
    background-color: white;
}
.recuadro-grande-principal#buscadorp{
    width: 100%;
}
.titleproduct{
    border-bottom: solid 2px;
    text-align: center;
    width: 75%;
}
.tablecategory-container{
    width: 75%;
    display: flex;
    justify-content: center;
    margin: 1%;
}
.tablecategory{
    width: 100%;
}
.category{
    text-align: center;
    width: 100%;
    color: #000;
}
.category-image{
    width: 15rem;
    height: 15rem;
    object-fit: contain;
}
.trcategory{
    display: flex;
    flex-direction: row;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.category-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
/*Carrusel*/
.recuadro-principal.recuadro-grande-principal#buscadorp{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.carrusel-content{
    background: linear-gradient(135deg, #670d10 0%, #092756 100%), 
    radial-gradient(ellipse at bottom, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%);
    margin: 0;
    padding: 1%;
    width: 75%;
    height: auto;
    
} 
.carrusel {
    max-width: 600px; /* o el ancho que prefieras */
    margin: auto; /* para centrarlo */
    height: 30rem; /* Ajusta este valor según tus necesidades */
    width: 30rem; /* Esto mantendrá la relación de aspecto de la imagen */
}
.elegircontacto{
    padding: 0;
    width: auto;
}
.not-container{
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 1%;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.not-container:hover{
    background-color: #000;
    color: white;
}
a .not-name{
    color: #000;
    text-decoration: none;
}
a:hover .not-name{
    color: #fff;
}
.not-photo{
    width: 3rem; /* o el tamaño que prefieras */
    height: 3rem; /* igual al ancho para mantener la proporción */
    border-radius: 50%; /* para hacerla circular */
    object-fit: cover; /* asegura que la imagen cubra completamente el área sin distorsionarse */
    margin-right: 10px;
    border: 2px solid white; /* Borde blanco */
    box-shadow: 0px 0px 10px white; /* Sombra blanca */
    background-color: white;
}
.not-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
}
.notform{
    display: flex;
    justify-content: center;
    box-shadow: none;
    width: 100%;
}
.formpost{
    width: auto;
    display: flex;
    justify-content: left;
    border: 0;
    margin: 1%;
}
/* Estiliza la barra de desplazamiento en su totalidad */
::-webkit-scrollbar {
    width: 10px; /* Ajusta el ancho de la barra de desplazamiento */
    height: 5px; /* Ajusta la altura para el desplazamiento horizontal, si es necesario */
}

/* Estiliza el rastro (track) de la barra de desplazamiento */
::-webkit-scrollbar-track {
    background: transparent; /* Puedes cambiarlo si deseas un color de fondo */
}

/* Estiliza el control deslizante (thumb) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
    background: 555; /* Color del deslizador */
    border-radius: 10px; /* Bordes redondeados para el deslizador */
}

/* Estiliza el control deslizante al pasar el ratón por encima */
::-webkit-scrollbar-thumb:hover {
    background: #0005; /* Color del deslizador al pasar el ratón por encima */
}

/*SELECT users.user_credential_number, users.user_name, users.user_lastname, post.post_description, post.post_date FROM users INNER JOIN post ON users.user_credential_number = post.post_author WHERE users.user_credential_number = ?;