@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.btn {
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #e6e6e6;
}

.btn-large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
}

.btn:hover {
    color: #333;
    text-decoration: none;
    background-color: #e6e6e6; /* Cambio en color de fondo */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Ejemplo de cambio en la sombra */
}

.btn-primary, .btn-primary:hover {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #fff;
}

.btn-primary.active {
    color: rgba(255, 255, 255, 0.75);
}

.btn-primary {
    background-color: #4a77d4;
    background-image: linear-gradient(to bottom, #6eb6de, #4a77d4);
    border: 1px solid #3762bc;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #4a77d4;
}

.btn-block {
    width: 100%;
    display: block;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: auto;
    padding: 0;
}
.content {
    flex: 1;
    /* Asegúrate de que el contenido principal ocupe el espacio disponible */
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(135deg, #670d10 0%, #092756 100%), 
                radial-gradient(ellipse at bottom, rgba(104, 128, 138, 0.4) 10%, rgba(138, 114, 76, 0) 40%);
    background-repeat: no-repeat; /* Esto evita que el fondo se repita */
    background-attachment: fixed; /* Esto puede ayudar a que el gradiente se mantenga fijo al hacer scroll */
    background-size: cover; /* Esto hace que el gradiente cubra todo el espacio disponible */            
}
.main-content {
    margin-top: 1%;
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    text-align: center; /* Alinea el texto de los elementos internos */
}
form {
    margin: auto; /* Centra el formulario horizontalmente */
    width: 25rem; /* Ancho fijo para el formulario */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra opcional para resaltar el formulario */
}

.login h1 {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

.input{
    font-size: 13px;
}
input {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 130px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.5s ease;
}
input:focus {
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}
.error {
    margin-top: 10px;
    color: white;
    font-size: 12px;
}

.msgs{
    margin-top: 10px;
    color: white;
    font-size: 12px;
}
#neubar {
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4)
  }
  
  .nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #8c3d62, #8c3d62);
    box-shadow:  4px 4px 8px #670d10,
                 -4px -4px 8px #670d10;
  }
  #neubar .nav-item {
    margin : auto 30px;
  }
  #neubar a {
    font-size: 25px;
    color: white;
    padding-left:12px;
    padding-right:12px;
  }
  #neubar a:hover {
    font-size: 25px;
    color: black;
    padding-left:12px;
    padding-right:12px;
  }
  #neubar .dropdown-menu {
    background : #545454
  }
  a.navbar-brand {
    color: #454545;
    align-items: center;
    margin: 2px;
  }
  a.navbar-brand img{
    color: #454545;
    align-items: center;
    margin-left: 25%;
  }
#menuImage:hover{
    border: solid 2px black;
}
  /* Estilo para el combobox */
select.custom-combobox {
    font-size: 13px;
    color: white;
    background-image: linear-gradient(to bottom, #6eb6de, #4a77d4);
    border: 1px solid #3762bc;
    border-radius: 0.5em;
    padding: .1rem;
    margin: 5%;
    -webkit-appearance: none; /* Remueve la apariencia por defecto en Safari */
    -moz-appearance: none; /* Remueve la apariencia por defecto en Firefox */
    appearance: none;
    /* Agrega un ícono de flecha personalizado si es necesario */
}

/* Cambia la apariencia del combobox cuando se pasa el mouse sobre él */
select.custom-combobox:hover {
    background-color: #8c3d62; /* Cambia al color final del gradiente */
    background-image: linear-gradient(to bottom, #670d10, #8c3d62);
    border: 1px solid #670d10;
    color: black;
}
.formcontenedor {
    margin-top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.formulario-busqueda {
    display: flex;
    gap: 10px;
    padding: 20px;
    background-color: linear-gradient(to bottom, #670d10, #8c3d62);
    border: 1px solid #670d10;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.input-busqueda {
    font-size: 15px;
    flex-grow: 1; /* Hace que solo el input crezca */
    background-color: black;
    color: white;
}

.boton-busqueda {
    background-color: black;
    width: 30%;
}
.boton-busqueda:hover{
    background-color: white;
    padding-top: 3px;
    color: #000000;
}

/* Cambia la apariencia del combobox cuando está enfocado */
select.custom-combobox:focus {
    outline: none;
    border: 1px solid #9c1f63; /* Puedes cambiar este color para mejorar la visibilidad */
    box-shadow: 0 0 5px 0 #9c1f63; /* Color de sombra para el foco */
}
.contenedor {
    display: flex; /* Usa Flexbox dentro del contenedor */
    height: 100%;
}


.recuadro {
    background-color: #EAD7D7; /* Fondo blanco para los recuadros */
    margin: 20px; /* Margen alrededor de los recuadros */
    padding-top: 1px; /* Espaciado interno */
    padding-bottom: 5%; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    height: auto;
}

.recuadro-grande {
    width: 75%; /* Ancho del recuadro grande */
}

.recuadro-delgado {
    width: 25%; /* Ancho del recuadro delgado */
}
.menulateral{
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto;
    color: white;
}
.menulateral ul{
    text-align: center;
}
.menulateral p{
    background-color: black; /* Color de fondo de cada elemento de la lista */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 10px; /* Espaciado interno para cada elemento de la lista */
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
    /* Otras propiedades de estilo que desees agregar */
}
h2 {
    color: #007bff;
}

form#contactForm {
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 4px;
}

button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.footer {
    margin-top: 5%;
    background-color: #000000;
    color: white;
    padding: 20px 0;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h5 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section p, .footer-section a {
    color: #bbb;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
}

.footer-section a:hover {
    color: #fff;
    text-decoration: underline;
}

.copy-right {
    border-top: 1px solid #444;
    padding-top: 15px;
    margin-top: 15px;
    text-align: center;
}

.copy-right p {
    margin: 0;
    font-size: 14px;
}
.recuadro-principal {
    background-color: #EAD7D7; /* Fondo blanco para los recuadros */
    margin: 20px; /* Margen alrededor de los recuadros */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    padding: 1%;
}

.recuadro-grande-principal {
    min-height: 75%;
    width: 75%; /* Ancho del recuadro grande */
}

.recuadro-delgado-principal {
    height: auto;
    width: 25%; /* Ancho del recuadro delgado */
    color: #000000;
}
.recuadro-delgado-principal a{
    text-decoration: none;
}
.recuadro-delgado-principal a:visited{
    color: #000000;
}
.post-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.author-photo {
    width: 50px; /* o el tamaño que prefieras */
    height: 50px; /* igual al ancho para mantener la proporción */
    border-radius: 50%; /* para hacerla circular */
    object-fit: cover; /* asegura que la imagen cubra completamente el área sin distorsionarse */
    margin-right: 10px;
}

.author-name {
    font-weight: bold;
}

.post-content {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    /* Asegúrate de que el contenedor tenga un tamaño definido o sea suficientemente grande */
    min-height: 200px; /* Ejemplo de altura mínima, ajusta según tus necesidades */
}

.post-image {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.post-description {
    text-align: justify;
}
.boton-menu-lateral{
    font-size: 15px;
    flex-grow: 1; /* Hace que solo el input crezca */
    background-color: black;
    color: white;
}
.boton-menu-lateral:hover{
    background-color: white;
    padding-bottom: 3px;
    padding-top: 3px;
    color: #000000;
}
.post-container#recent_visited:hover{
    background-color: red;
    color: white;
}